REACT_APP_API_URL=http://localhost:5000
REACT_APP_VAPID_PUBLIC_KEY=replace_with_public_key
REACT_APP_GOOGLE_MAPS_API_KEY=replace_with_key
REACT_APP_GOOGLE_CLIENT_ID=replace_with_client_id
REACT_APP_GOOGLE_AUTH_ONLY=true
